.card {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.card .card-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.card .card-content {
  display: block;
  width: 100%;
}

.card .card-actions {
  display: flex;
  align-items: center;
}

.card .card-actions .card-action {
  font-size: 22px;
  cursor: pointer;
  margin: 0 2.5px;
}

.card-actions .card-action > svg {
  align-self: center;
}
