.app {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* MAIN */
.main {
  overflow: auto;
  width: 100%;
}

.main .content {
  position: relative;
  display: flex;
}
